<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1><em>What would Kanye say?</em></h1>
    <div class="card">
      <br />
      <p><em><%= locals.quote %></em></p>
    </div>
    <script src="index.js"></script>
  </body>
</html>
