@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500;1,900&display=swap");

body {
  margin: 0;
  background-color: #1a1423;
  height: 100vh;
  width: 100vw;
  place-items: center;
  display: grid;
  font-family: "Poppins", sans-serif;
}
h1 {
  color: #eacdc2;
  font-weight: 900;
  text-shadow: 3px 3px #b75d69;
}
p {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
}
.card {
  background-color: #eacdc2;
  height: 200px;
  width: 500px;
  padding: 50px;
  margin: 10px auto 150px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(244, 244, 249, 0.08) 19.5px 19.5px 26px;
}
